body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position:relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */
.btn-1{
    background-color: crimson;
    font-size: 16px;
    border-radius: 12px;
    padding: 10px;
    text-align: center; 
    text-align: top;
    transition: 0.5s;
    cursor:pointer
}

.btn-1:hover{background-color: cyan;}
    .btn-1:hover span{padding-right: 10px;}
        .button:active {
            transform: translateY(4px);
          }

          .btn-2{
            background-color:chartreuse;
            font-size: 16px;
            border-radius: 12px;
            padding: 10px;
            text-align: center; 
            transition: 0.5s;
            cursor:pointer}

            .btn-2:hover{background-color:blueviolet;}
    .btn-2:hover span{padding-right: 10px;}
        .button:active {transform: translateY(4px);}

            .btn-3{
                background-color:goldenrod;
                font-size: 16px;
                border-radius: 12px;
                padding: 10px;
                text-align: center; 
                text-align: top;
                transition: 0.5s;
                cursor:pointer
            }
            .btn-3:hover{background-color:darkred;}
            .btn-3:hover span{padding-left: 10px;}
            .button:active{transform: translateY(4px);}